body {
    background-image: url(unsplash/joshua-harris--rkW0aKhOMA-unsplash.jpg), radial-gradient(rgb(0, 0, 0), rgb(25, 35, 30));
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    backdrop-filter: blur(10px);
    height: 80px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.display-list {
    padding: 8px 16px;
    transition: 300ms;
    border-radius: 99px;
    top: 21px;
    right: 16px;
    position: absolute;
}

.display-list:hover {
    background: rgba(255, 255, 255, 0.2);
    color: black;
    cursor: pointer;
}

.display-list:hover .catalog{
    display: inline;
}

header a {
    text-decoration: none;
    color: white;
    font-family: 宋体, sans-serif;
}

header img {
    width: 3rem;
    border-radius: 100%;
    top: 16px;
    left: 16px;
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto 20%;
    padding: 5% 0px;
    flex-direction: column;
    align-content: space-around;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

div p {
    margin-bottom: 1.5rem;
}

div p:last-child {
    margin-bottom: 0;
}

.title {
    background-color: rgba(24, 30, 28, 0.650);
    text-align: center;
    color: rgb(140, 179, 171);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px black;
    font-family: 华文中宋, sans-serif;
    padding: 2% 10%;
}

.intro {
    background-color: rgba(24, 30, 28, 0.650);
    padding: 2% 10%;
    text-align: justify;
    margin-top: 4%;
    font-family: 华文中宋, sans-serif;
    color: rgb(140, 179, 171);
}

span {
    background-color: rgba(251, 251, 255, 0.50);
    color: #060e1b;
    border-radius: 20px;
    font-family: 仿宋, cursive;
}

.catalog {
    background-color: rgba(255, 255, 255, 0.005);
    color: black;
    font-family: 仿宋, cursive;
    display: none;
}

.text_area {
    background-color: rgba(24, 30, 28, 0.650);
    line-height: 1.5rem;
    color: rgb(140, 179, 171);
    font-size: 1rem;
    text-align: justify;
    text-shadow: 2px 2px 3px black;
    font-family: 华文中宋, sans-serif;
    text-indent: 2rem;
    margin: 4% 0;
    padding: 2% 10%;
    border-radius: 50px;
}

.guide {
    background-color: rgba(24, 30, 28, 0.650);
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
    font-family: 华文中宋, sans-serif;
}

.guide a {
    text-decoration: none;
}

.scroll-to-top {
    display: none;
    text-decoration: none;
    position: fixed;
    border-radius: 100%;
    bottom: 12%;
    right: 4%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #0000004d;
    color: rgb(140, 179, 171);
}

.scroll-to-top:hover {
    background: rgba(189, 235, 220, 0.5);
    border-radius: 100%;
}

.bottom {
    text-align: center;
}

a:link {
    color: rgb(140, 179, 171);
}

a:visited {
    color: slategray;
}

a:hover {
    color: steelblue;
}

a:active {
    color: steelblue;
}

@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?76321003');
    src: url('./font/fontello.eot?76321003#iefix') format('embedded-opentype'),
        url('./font/fontello.woff?76321003') format('woff'),
        url('./font/fontello.ttf?76321003') format('truetype'),
        url('./font/fontello.svg?76321003#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.copyright {
    text-align: center;
    color: white;
    font-family: 宋体, sans-serif;
    font-size: 12px;
}