@font-face {
  font-family: "iconfont"; /* Project id 4937113 */
  src: url('iconfont.woff2?t=1748599118316') format('woff2'),
       url('iconfont.woff?t=1748599118316') format('woff'),
       url('iconfont.ttf?t=1748599118316') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lofter:before {
  content: "\e638";
}

.icon-close:before {
  content: "\e748";
}

